@import "tailwindcss";

@theme {
  --color-primary-blue: #2b59ff;
  --color-black-100: #2b2c35;
  --color-bg-main: #ffffff;
  
  /* تعريف صورة الخلفية */
  --background-image-hero-bg: url("/hero-bg.png");
}

.dark {
  --color-bg-main: #0b0b0b;
  --color-black-100: #f5f5f5; /* تحويل النصوص الغامقة لأبيض مطفي */
  --color-primary-blue: #ff4d4d; /* تحويل الأزرق لأحمر */
}

body {
  background-color: var(--color-bg-main);
  color: var(--color-black-100);
  transition: background-color 0.3s ease, color 0.3s ease;
}